body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  overflow-x: hidden; /*if you want to stop x-axis scrolling*/

 
  overflow-y: auto;
  direction: ltr;
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 6px solid rgba(0, 0, 0, 0.18);
  border-left: 0;
  border-right: 0;
  background-color: #555;;
}

.modal2::-webkit-scrollbar {
  width: 20px;
}

.modal2::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
}

.modal2::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 6px solid rgba(0, 0, 0, 0.18);
  border-left: 0;
  border-right: 0;
  background-color: #555;;
}

h1{
    color: aliceblue;
    text-align: center; 
    display: inline-block; 
    vertical-align: middle;
}

#img{
    float: left;
    width: 65px;
    height: 65px;
}
/*
#wrapper {
	border: 1px solid #000;
	width: 2300px;
	margin: auto;
}*/

#homeImg{
  background: url("gaming-newbies-stadia-superJumbo.jpg"); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #cfcfcf;
}
#home .layer{
  height: 750px;
  background-attachment: fixed;
  background: rgba(7, 2, 4, 0.77);
}
div #home {
  text-align: center;
  top: 50%;
  font-size: 80px;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover{
  color: #DE5E60;
}

.topnav button{
  border: none;
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  background-color: rgba(51, 51, 51, 0);
}

.topnav button:hover{
  color: #DE5E60;
}

.fa{
  font-size:30px; 
  color:white
}
.topnav .fa:hover{
  color: #DE5E60 !important;

}
  /*.topnav li{
    text-align: center;

  }*/
  

  
  .topnav .icon {
    display: none;
  }

  @media screen and (max-width: 800px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav button:not(:first-child) {display: none;}
    .topnav a.icon{
      float: right;
      display: block;
    }
    .topnav button.icon{
        float: right;
        display: block;
    }
  }
  
  @media screen and (max-width: 800px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive button{
        float: none;
        display: block;
        text-align: left;
    }
  }
  
  .games h3{
    color: white;
    font-size: 30;
    text-decoration: none;
  }

  .borderLn{
    padding: 20px;
    margin: auto;
    text-align: center;
    width:1000px;
    padding:10px;
    border:10px solid rgba(255, 255, 255, 0.288) ;
  }

  .borderLn label{
    color:aliceblue;
  }

  .borderLn input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .borderLn .cancelbtn {
    width: auto;
    padding: 14px 20px;
    margin: 8px 0;
    background-color: #f44336;
    cursor: pointer;
  }

  .borderLn button {
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
  }

  .borderLn .exitbtn{
    float:right;
    color: white;
    width: auto;
    padding: 14px 20px;
    margin: 8px 0;
    background-color: #010035;
    cursor: pointer;
  }

  #Doluu{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: black;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

*/