.border{
    width: 30%;
    height: 40%;
    border-width: 5px;  
    border-style: inset;
    border: 1px solid black;
}
.button {
    position: relative;
    background-color: #DE5E60;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
button{
  position: absolute;
  top: 50%;
}
